@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
	background: #fff;
	color: #333;
    overflow-x: hidden;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	color: #333;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0px;
	padding: 0px 20px;
    box-shadow: 0px 0px 5px 0px #acacac;
	z-index: 50;
}

.navbar ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar a {
	padding: 10px 20px;
}

.navbar a.active {
	color: #da3742;
}

.navbar ul li:nth-child(2)::after {
	content: "\25BC";
	display: inline;
	transform: rotate(90deg);
	margin-left: -20px;
	margin-right: 8px;
	color: #c5d1da;
}

.hamburger {
    display: none;
}

.hero {
	background: url("../img/hero.jpeg") no-repeat center center/cover;
	height: 100vh;
	position: relative;
}

.content {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content h1 {
	color: #fff;
	font-size: 4rem;
	text-align: center;
}

.content p {
	color: #dad9db;
	text-align: center;
	padding: 20px 50px;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
}

.hero .carousel-indicators *,
.hero .content * {
	z-index: 1;
}

.hero .carousel-indicators {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero .carousel-indicators .indicator {
	height: 15px;
	width: 15px;
	background-color: #fff;
	padding: 0px 5px;
	margin: 0px 5px;
	border-radius: 50%;
}

.hero .carousel-indicators .indicator:nth-child(3) {
	background-color: #da3742;
}

section#about .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
    margin: 30px;
	padding: 0px 20px;
}

section#about .col {
	flex: 50%;
    margin: 20px;
	padding: 0px 50px;
}

section#about .container .col:nth-child(1) p:nth-of-type(1) {
	line-height: 3.6rem;
	font-size: 2.8rem;
	margin-top: -10px;
	margin-bottom: 20px;
}

section#about .container p {
	font-size: 1.2em;
}

section#about .col:nth-child(2) {
	font-size: 0.9rem;
}

section#about .col:nth-child(2) ul {
	margin: 20px 10px;
	font-size: 1rem;
	list-style-image: url("../img/double-tick.svg");
}

section#about .col:nth-child(2) ul li {
	margin: 0px 10px;
}

#partner {
	background-color: #f8f9fa;
}

#partner .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
}

#services .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 70px;
}

#services .container .service-item {
	flex: 48%;
	width: 100%;
	padding: 20px 20px;
	margin: 10px 10px;
	background: #f8f9fa;
	display: flex;
}

#services .container .service-item .service-content {
	padding: 0px 20px;
}

#services .container .service-item .service-content p:nth-of-type(1) {
	font-weight: bold;
	font-size: 1.1rem;
	padding-bottom: 17px;
}

#services .container .service-item .service-content p:nth-of-type(2) {
	font-size: 0.9em;
	padding-bottom: 17px;
}

#grid {
    margin: 60px 30px;
}

#grid .grid-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid .grid-nav a {
    margin: 0px 20px;
}

#grid .grid-nav .grid-btn {
    background-color: #da3936;
    color: #fff;
    border-radius: 3px;
    margin: 0px 10px;
    padding: 5px 15px;
    border: none;
}

#grid .grid-images {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
}

#grid .grid-images .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 30%;
}

#grid .grid-images .col img {
    height: min-content;
    margin: 10px;
}

#footer .container {
	background: #515d6a;
	padding: 30px 60px;
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	color: #fff;
}

#footer .container .col {
	display: flex;
	flex-direction: column;
}

#footer .container .col:nth-child(1),
#footer .container .col:nth-child(2),
#footer .container .col:nth-child(3) {
	flex: 20%;
}

#footer .container .col:nth-child(4) {
	flex: 40%;
}

#footer .col:nth-child(1) h1 {
    padding-bottom: 20px;
}

#footer .col:nth-child(1) p {
    font-size: 0.8em;
}

#footer .col:nth-child(1) p:nth-of-type(2) {
    padding-bottom: 20px;
}

#footer .col:nth-child(1) .social {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#footer .col:nth-child(1) .social a {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 0px 5px;
    color: #fff;
    background: #636e79;
}

#footer .container .col:nth-child(2) p,
#footer .container .col:nth-child(3) p {
    padding-bottom: 20px;
}

#footer .container .col:nth-child(2) ul,
#footer .container .col:nth-child(3) ul {
    font-size: 0.8em;
    margin-left: 15px;
    list-style-type: "> ";
}

#footer .container .col:nth-child(2) li,
#footer .container .col:nth-child(3) li {
    padding: 5px 0px;
}

#footer .container .col:nth-child(4) p {
    padding-bottom: 20px;
}

#footer .container .col:nth-child(4) form {
    display: flex;
    justify-content: flex-start;
}

#footer .container .col:nth-child(4) form input[type=email] {
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0px 10px;
}

#footer .container .col:nth-child(4) form input[type=submit] {
    margin: 0;
}

#footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a5562;
    height: 70px;
}

#footer .footer-container span {
    padding: 5px;
}

.back-to-top {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background: #da3742;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 5px;
}

@media(max-width: 1000px) {
    .navbar {
        justify-content: space-around;
        padding: 0;
    }

    .navbar ul {
        display: none;
    }

    .hamburger {
        display: block;
        border: 3px solid #515d6a;
        border-radius: 5px;
        padding: 5px;
        width: 50px;
        cursor: pointer;
    }

    .hamburger .line {
        height: 1px;
        width: 100%;
        padding: 2px 0px;
        margin: 4px 0px;
        background-color: #515d6a;
    }

    section#about .container {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    
    section#about .col {
        flex: 100%;
        margin: 0;
        padding: 30px;
    }

    #partner .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 30%;
    }

    #services .container {
        margin: 30px;
    }

    #grid .grid-images {
        margin: 0;
    }

    #footer .container .col:nth-child(1),
    #footer .container .col:nth-child(2),
    #footer .container .col:nth-child(3),
    #footer .container .col:nth-child(4) {
        flex: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #footer .container .col:nth-child(2) ul,
    #footer .container .col:nth-child(3) ul {
        width: 100%;
    }

    #footer .container .col:nth-child(2) p,
    #footer .container .col:nth-child(3) p{
        padding: 10px 0px;
    }

    #footer .container .col:nth-child(4) {
        padding: 20px 0px;
        flex: 80%;
        justify-content: center;
        align-items: center;
    }
    #footer .container .col:nth-child(4) p{
        /* padding: 10px 20px; */
    }


    #footer .container .col:nth-child(4) form {
        /* margin: 0px 20px; */
    }
}